{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>VWash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Immerse a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/cm-overlay.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="https//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https//fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https//fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin-ext" rel="stylesheet">

    <style>

        #lastservice{
                    
            margin-top: -68px;
                }
            
            
            </style>
            
</head>

<body>
    <!-- banner -->
    <div class="w3l_banner">
        
        <div class="w3_bandwn">
            <div class="container">
                <div class="col-md-3 w3_l">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a>
                </div>
                <div class="col-md-6 w3_c">
                    <i class="fa fa-phone" aria-hidden="true"></i> +456 123 7890
                </div>
                <div class="col-md-3 w3_r">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="{% url 'homep' %}" title="VWash">
                        <img src="{% static 'images/logo.png' %}" style="margin-top: -29px; vertical-align: middle; width: 132px;">
                        
                    </a>
                    
                </div>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#index.html" class="page-scroll">HOME</a></li>
                    <li><a href="#about" class="page-scroll">ABOUT</a></li>
                    <li><a href="#services" class="page-scroll">SERVICES</a></li>
                    <li><a href="#gallery" class="page-scroll">GALLERY</a></li>
                    <li><a href="#testimonials" class="page-scroll">TESTIMONIALS</a></li>
                    <li><a href="#contact" class="page-scroll">CONTACT</a></li>
                    <li><a href="{% url 'book' %}">BOOK NOW</a></li>
                    <form class="navbar-form navbar-left">
                        <div class="w3l_frm">
                            <form action="#" method="post">
                                <button type="submit"><a href="#"></a></button>
                                <!--            <i class="fa fa-search" aria-hidden="true"></i>-->
                                <!--          <input type="text" name="search"  placeholder="Search" required="">-->
                            </form>
                        </div>
                        
                        
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="w3l_bandwn">
                <h2>Welcome to Laundry</h2>
                <div class="about-p text-center">
                    <span class="sub-title"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="sub-title"></span>
                </div>
                {% block body %}
                {% endblock %}

                <!-- footer -->
    <div class="footer" id="footer">
            <div class="container">
                <div class="list">
                    <div class="col-md-3 wthree_fl">
                        <a href="{% url 'homep' %}" title="VWash">
                            <img src="{% static 'images/logo4.png' %}" style="margin-top: -29px; vertical-align: middle; width: 132px;">
                        </a>
                    </div>
    
                    <div class="col-md-6 wthree_fc">
                        <h6> Sophia Road </h6>
                        <h6> 1594 Nicolas </h6>
                        <h6> U S A </h6>
                    </div>
                    
                    <div class="col-md-3 wthree_fr">
                        <h6>+1 358 649 4885</h6>
                        <h6><a href="mailto:service@decorate.com">service@decorate.com</a></h6>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- //footer -->
        <div class="copyright">
            <div class="container">
                <p>© 2019 VWash. All rights reserved | Design by <a href="https://grasshopperdesign.in/">Grasshopper Design
                        Pvt Ltd</a></p>
            </div>
        </div>
    
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/move-top.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/grayscale.js' %}"></script>
        <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
        <!-- flexSlider -->
        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({
                    items: 2,
                    itemsDesktop: [800, 2],
                    itemsDesktopSmall: [414, 1],
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,
    
                    navigationText: false,
                    pagination: true,
    
                });
    
            });
        </script>
    
        <!-- //flexSlider -->
        <!-- /gallery -->
        <script src="{% static 'js/jquery.tools.min.js'%}"></script>
        <script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
        <script src="{% static 'js/jquery.cm-overlay.js' %}"></script>
    
        <script>
            $(document).ready(function () {
                $('.cm-overlay').cmOverlay();
            });
        </script>
        <!-- //gallery -->
    
        <!-- Move-to-top-->
        <script type="text/javascript">
            $(document).ready(function () {
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });
            });
        </script>
        <!--/Move-to-top-->
    
    
    </body>
    
    </html>